@import url('https://fonts.googleapis.com/css?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css?family=Akronim|Raleway&display=swap');
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
}


/*.text-title {
    font-family: 'akronim', cursive;
    font-size: 8em;
}

.text-title-xs {
    font-family: 'akronim', cursive;
    font-size: 4em;
}*/

.menuu {
    background: linear-gradient(to bottom, #ffb8b8 13%, #ffff 100%);
}

.back {
    /*background-image: linear-gradient(to bottom right, #ff6b6b, #48dbfb);
        */
    background: linear-gradient(to bottom, #ffb8b8 13%, #ffff 100%);
    /*background: url("../img1/img/.jpg") no-repeat;
        background-size: cover;
        background-position: top;*/
    /* background-image: linear-gradient(to bottom right, #ff6b6b, #48dbfb); */
    background: url('../img1/img/bake2.jpg') no-repeat;
    background-position: center;
    background-size: 500px 666px;
    height: 350px;
    width: 100%;
}

.mdi-ana {
    font-size: 3em;
    justify-content: center;
}

.bg-footer {
    background: linear-gradient(to top, #ffb8b8 13%, #ffff 100%);
    /*background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 100% 100%;
    text-align: center;
    justify-content: center;*/
}


/*.nomes {
    margin-left: 2%;
}

.hdoiszao h2 {
    color: black;
    text-align: left;
}

.caixinha1 {
    margin-left: 5%;
    display: flex;
}

.caixinha2 {
    margin-left: 5%;
}

.paragrafo p {
    margin-left: 2%;
}*/

.figura {
    text-align: center;
}

h6 {
    margin-top: 3%;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
}