@import url('https://fonts.googleapis.com/css?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css?family=Akronim|Raleway&display=swap');
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
}

.text-title {
    font-family: 'akronim', cursive;
    font-size: 8em;
}

.back {
    background-image: linear-gradient(to bottom right, #ff6b6b, #48dbfb);
    /*background: url("img1/img/ce.jpg") no-repeat;
    background-size: cover;
    background-position: center;*/
}

.mdi-ana {
    font-size: 3em;
    justify-content: center;
}

.bg-footer {
    background: linear-gradient(to top, #8fb7ff 13%, #ffff 100%);
    /*background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 100% 100%;
    text-align: center;
    justify-content: center;*/
}