@import url('https://fonts.googleapis.com/css?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css?family=Akronim|Raleway&display=swap');
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
}

.text-title {
    font-family: 'akronim', cursive;
    font-size: 8em;
}

.text-title-xs {
    font-family: 'akronim', cursive;
    font-size: 4em;
}

.back {
    /*background-image: linear-gradient(to bottom right, #ff6b6b, #48dbfb);
        */
    background: linear-gradient(to bottom, #ffb8b8 13%, #ffff 100%);
    /*background: url("../img1/img/.jpg") no-repeat;
        background-size: cover;
        background-position: top;*/
    /* background-image: linear-gradient(to bottom right, #ff6b6b, #48dbfb); */
    /*background: url("img1/img/ce.jpg") no-repeat;
        
    background: url('../img1/img/ce.jpg') no-repeat;
    background-size: cover;
    background-position: center;*/
}

.mdi-ana {
    font-size: 3em;
    justify-content: center;
}

.bg-footer {
    background: linear-gradient(to top, #ffb8b8 13%, #ffff 100%);
    text-align: center;
    justify-content: center;
    /*background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 100% 100%;
    text-align: center;
    justify-content: center;*/
}

.nomes {
    margin-left: 5%;
    margin-top: 5%;
}

.hdoiszao h2 {
    color: black;
    text-align: left;
}

.caixinha1 {
    background-color: red;
    display: flex;
}

.paragrafo p {
    color: pink;
    margin-left: 2%;
}